<form method="GET" action="/artist-search">
    <label>
      <input type="text" name="artist" placeholder="Hard Landing"/>
    </label>
    <button type="submit">Search for an Artist</button>
  </form>